<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">roma</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb_2</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- List of XML mapping files -->
		<mapping resource="Employee.hbm.xml" /> 
		<mapping resource="SetCollection/EmployeeSet.hbm.xml" /> 
		<mapping resource="SetCollection/CertificateSet.hbm.xml" /> 
		<mapping resource="ListCollection/CertificateList.hbm.xml" /> 
		<mapping resource="ListCollection/EmployeeList.hbm.xml" /> 
		<mapping resource="MapCollection/EmployeeMap.hbm.xml" /> 
		<mapping resource="MapCollection/CertificateMap.hbm.xml" /> 
		<mapping resource="ManyToOne/AddressManyToOne.hbm.xml" />
 		<mapping resource="ManyToOne/EmployeeManyToOne.hbm.xml" /> 
 		<mapping resource="OneToOne/EmployeeOneToOne.hbm.xml" />
 		<mapping resource="OneToOne/AddressOneToOne.hbm.xml" />  
 		<mapping resource="OneToMany/CertificateOneToMany.hbm.xml" />
 		<mapping resource="OneToMany/EmloyeeOneToMany.hbm.xml" />  
 		<mapping resource="ManyToMany/EmployeeManyToMany.hbm.xml" />  
 		<mapping resource="ManyToMany/CertificateManyToMany.hbm.xml" /> 
 		<mapping resource="ComponentMapping/EmployeeAddress.hbm.xml" /> 

	</session-factory>
</hibernate-configuration>
